.installNow{
    position: relative;
}
.main{
    width: 1093px;
    color: white;
    position: absolute;
    top: 106px;
    left: 413px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.h1{
    font-weight: 900;
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 56px;
}
.h2{
    font-weight: 900;
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 38px;
}
.downloade{
    display: flex;
}
.googleplay{
    margin-right: 33.39px;

}